/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-primary: #575761;
  --color-secondary: #ffbf46;
  --color-neutral: #919191;
  --color-neutral-light: #c6c6c6;
  --color-neutral-dark: #5e5e5e;
  --color-danger: #b41c2b;
  --color--success: #009f42;
  --color--warning: #cc8800;
  --color-info: #388cfa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
